body {
  #mainImage {
    background-size: cover;
    height: 400px;
  }

  .ant-card-head-title {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
  }

  .iconText {
    margin-right: 5000px;
  }

  .tocBox {
    border: #1088e9 1px solid;
    .tocTitle {
      text-align: center;
      background-color: #ffffff;
    }
    .tocBody {
      min-width: 198px;
    }
  }
}