@charset "utf-8";
@font-face {
    font-family: 'iconfont';  /* project id 1608423 */
    src: url('//at.alicdn.com/t/font_1608423_eh15j7ccvcj.eot');
    src: url('//at.alicdn.com/t/font_1608423_eh15j7ccvcj.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1608423_eh15j7ccvcj.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1608423_eh15j7ccvcj.woff') format('woff'),
    url('//at.alicdn.com/t/font_1608423_eh15j7ccvcj.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1608423_eh15j7ccvcj.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

a, body, div, dl, dt, h1, h2, h3, h4, h5, h6, input, li, ol, p, span, textarea {
    margin: 0;
    padding: 0
}

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serifsans-serif
}

a, em {
    text-decoration: none
}

* {
    outline: 0;
}

a img {
    border: 0
}

address, caption, cite, code, dfn, p, em, i, th, var {
    font-style: normal;
    font-weight: normal
}

/*body::-webkit-scrollbar {*/
    /*height: 10px;*/
    /*width: 7px;*/
    /*background: rgba(0, 0, 0, 0.1);*/
/*}*/

/*body::-webkit-scrollbar:hover {*/
    /*background: rgba(0, 0, 0, 0.2);*/
/*}*/

/*body::-webkit-scrollbar-thumb {*/
    /*background: rgba(0, 0, 0, 0.3);*/
    /*-webkit-border-radius: 6px;*/
    /*-moz-border-radius: 6px;*/
    /*-ms-border-radius: 6px;*/
    /*-o-border-radius: 6px;*/
    /*border-radius: 6px;*/
/*}*/

/*body::-webkit-scrollbar-thumb:hover {*/
    /*-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);*/
    /*!* Webkit browsers *!*/
    /*-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);*/
    /*!* Firefox *!*/
    /*-ms-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);*/
    /*!* IE9 *!*/
    /*-o-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);*/
    /*!* Opera(Old) *!*/
    /*box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);*/
    /*!* IE9+, News *!*/
    /*background-color: rgba(0, 0, 0, 0.4);*/
/*}*/


.pointer {
    cursor: pointer;
}

.floatLeft {
    display: inline-block;
    float: left;
}

.floatRight {
    display: inline-block;
    float: right;
}

.clearFix:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.clearFix {
    *zoom: 1
}

body .backgroundTransparent {
    background-color: transparent;
}

.autoWrap {
    word-wrap: break-word
}

.autoOmit {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.autoOmit_2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.clearBoth {
    clear: both;
}

.textCenter {
    text-align: center;
}

.b_r {
    color: #00A1D6;
    cursor: pointer
}

.b_r:hover {
    color: #F35C8F
}

.myFooter{
    text-align: center;
    line-height: 20px;
}

.policeLink{
    margin-right: 10px;
}