# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/Front-End-Project/node_modules/
/Front-End-Project/package-lock.json
!/Deploy/Dockerfile
