<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xavier.blog.dao.AccessRuleMapper">

    <sql id="BaseColumnList">
        articleCategoryId,articleCategoryNo,requirement,accessPermit,extendProperties,createTs,lastUpdateTs
    </sql>

    <sql id="AllColumnList">
        accessRuleId,articleCategoryId,articleCategoryNo,requirement,accessPermit,extendProperties,createTs,lastUpdateTs
    </sql>

    <select id="queryAccessRuleByArticleCategoryNoMultiple" resultType="AccessRule">
        SELECT
        <include refid="AllColumnList"/>
        FROM `accessRule` WHERE  articleCategoryNo IN
        <foreach collection="articleCategoryNoList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>