<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xavier.blog.user.dao.UserTokenMapper">

    <sql id="BaseColumnList">
       uid, token, deadLine, scope, lastToken, lastDeadLine, refreshKey, createTs, lastUpdateTs
    </sql>

    <sql id="AllColumnList">
       tokenId, uid, token, deadLine, scope, lastToken, lastDeadLine, refreshKey, createTs, lastUpdateTs
    </sql>

    <insert id="saveUserToken" parameterType="UserToken">
        INSERT INTO `userToken`(<include refid="BaseColumnList"/>)VALUES (
        #{userToken.uid},
        #{userToken.token},
        #{userToken.deadLine},
        #{userToken.scope},
        #{userToken.lastToken},
        #{userToken.lastDeadLine},
        #{userToken.refreshKey},
        #{userToken.createTs},
        #{userToken.lastUpdateTs}
        )
    </insert>

    <update id="refreshToken">
        UPDATE `userToken`
        SET token        = #{token},
            deadLine     = #{deadLine},
            lastToken    = #{lastToken},
            lastDeadLine = #{lastDeadLine},
            refreshKey   = #{refreshKey}
        WHERE scope = #{scope} AND uid = #{uid} AND #{lastUpdateTs} &gt; lastUpdateTs
    </update>

    <select id="queryUserByUidAndScope" resultType="UserToken">
        SELECT
        <include refid="AllColumnList"/>
        FROM `userToken` WHERE scope=#{scope} AND uid=#{uid} LIMIT 1
    </select>

</mapper>