<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xavier.blog.article.dao.ArticleMapper">

    <sql id="Summary_Column_List">
       articleId,uId,articleCategoryId,statementId,title,summary,content,wordCount,pageViews,properties,legal_Flag,ts,lastUpdateTs
    </sql>

    <sql id="All_Column_List">
        articleId,uId,articleCategoryId,statementId,title,summary,content,wordCount,pageViews,properties,legal_Flag,ts,lastUpdateTs
    </sql>

    <sql id="ArticleSummaryQueryPO_Column_List">
        articleId,uId,articleCategoryId,statementId,title,summary,content,wordCount,pageViews,properties,legal_Flag,ts,lastUpdateTs
    </sql>

    <insert id="saveArticle" parameterType="Article">
        INSERT INTO `article`(<include refid="All_Column_List"/>)VALUES (
        #{article.articleId},
        #{article.uId},
        #{article.articleCategoryId},
        #{article.statementId},
        #{article.title},
        #{article.summary},
        #{article.content},
        #{article.wordCount},
        #{article.pageViews},
        #{article.properties},
        #{article.legal_Flag},
        #{article.ts},
        #{article.lastUpdateTs}
        )
    </insert>

    <update id="removeArticleMultipleByIds_Logically">
        UPDATE `article`
        SET legal_Flag = FALSE, lastUpdateTs = #{lastUpdateTs}
        WHERE uId = #{uId} AND articleId IN
        <foreach collection="articleIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateArticle">
        UPDATE `article`
        <foreach collection="data" index="key" item="val" open="SET" separator="," close=" ">
            ${key}=#{val}
        </foreach>
        WHERE lastUpdateTs &lt; #{lastUpdateTs_CAS} AND articleId=#{articleId}
    </update>

    <update id="updateArticlePageViews">
        UPDATE `article`
        SET pageViews = #{pageViews}
        WHERE lastUpdateTs &lt; #{lastUpdateTs_CAS}
          AND articleId = #{articleId}
    </update>

    <update id="autoIncreaseArticlePageViews">
        UPDATE article
        SET pageViews = pageViews + 1
        WHERE articleId = #{articleId}
    </update>

    <select id="queryArticleListByIds" resultType="Article">
        SELECT
        <include refid="All_Column_List"/>
        FROM `article`
        WHERE legal_Flag=TRUE
        AND articleId IN
        <foreach collection="articleIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryArticleListByIds_WithArticleCategoryLimit" resultType="Article">
        SELECT
        <include refid="All_Column_List"/>
        FROM `article`
        WHERE legal_Flag=TRUE
        AND articleId IN
        <foreach collection="articleIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND articleCategoryId IN
        <foreach collection="articleCategoryRangeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY ts DESC
    </select>

    <select id="queryArticleListByArticleCategoryId" resultType="Article">
        SELECT
        <include refid="All_Column_List"/>
        FROM `article` WHERE legal_Flag=TRUE
        AND articleCategoryId =
        <foreach collection="articleCategoryIdRangeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY #{orderKey} ${order}
        Limit #{startPoint},#{size}
    </select>

    <select id="queryArticleSummaryListByArticleCategoryId" resultType="Article">
        SELECT
        <include refid="Summary_Column_List"/>
        FROM `article` WHERE legal_Flag=TRUE
        AND articleCategoryId IN
        <foreach collection="articleCategoryIdRangeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY ${orderKey} ${order}
        Limit #{startPoint},#{size}
    </select>

    <select id="countArticleSummaryListByArticleCategoryId" resultType="integer">
        SELECT count(*)
        FROM `article`
        WHERE legal_Flag = TRUE
        AND articleCategoryId IN
        <foreach collection="articleCategoryIdRangeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryArticleIdLisOfUser" resultType="string">
        SELECT
        articleId
        FROM `article` WHERE legal_Flag=TRUE AND uId = #{uId} AND articleId IN
        <foreach collection="rangeArticleIdListList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="queryArticleQuarryBOByArticleId" resultType="ArticleQuarryPO">
        SELECT t3.articleId,
               t3.uId,
               statement.statementId,
               statement.content                                     AS "statementContent",
               statement.properties                                  AS "statementProperties",
               t3.boardName,
               t3.articleCategoryId,
               quarryArticleCategoryPathToRoot(t3.articleCategoryId) AS "articleCategoryPathStringVal",
               t3.title,
               t3.content,
               t3.pageViews,
               t3.wordCount,
               t3.properties,
               t3.lastUpdateTs,
               t3.ts
        FROM (SELECT articleId,
                     uId,
                     statementId,
                     boardName,
                     article.articleCategoryId,
                     title,
                     content,
                     pageViews,
                     wordCount,
                     properties,
                     article.lastUpdateTs,
                     article.ts
              FROM article
                       LEFT JOIN (SELECT articleCategoryId, boardName, articleCategoryName
                                  FROM articleCategory
                                           INNER JOIN board ON articleCategory.boardId = board.boardId) AS t2
                                 ON article.articleCategoryId = t2.articleCategoryId
              WHERE articleId = #{articleId}) AS t3
                 LEFT JOIN statement ON t3.statementId = statement.statementId
        LIMIT 1;
    </select>

    <select id="queryArticleQuarryBOByArticleIdList" resultType="ArticleSummaryQueryPO">
        SELECT
        articleId,
        uId,
        boardName,
        quarryArticleCategoryPathToRoot(article.articleCategoryId) AS "articleCategoryPathStringVal",
        title,
        summary,
        pageViews,
        wordCount,
        properties,
        article.lastUpdateTs,
        article.ts
        FROM article
        LEFT JOIN (SELECT articleCategoryId, boardName, articleCategoryName
        FROM articleCategory
        INNER JOIN board ON articleCategory.boardId = board.boardId
        WHERE articleCategory.legal_Flag=TRUE AND board.legal_Flag=TRUE AND articleCategoryId IN
        <foreach collection="articleCategoryIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
        AS t2
        ON article.articleCategoryId = t2.articleCategoryId
        WHERE article.legal_Flag=TRUE AND article.articleCategoryId IN
        <foreach collection="articleCategoryIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY ${orderKey} ${order}
        Limit #{startPoint},#{size}
    </select>

    <select id="queryArticleQuarryBOByArticleIdList_TotalCount" resultType="integer">
        SELECT
        COUNT(*)
        FROM article
        LEFT JOIN (SELECT articleCategoryId, boardName, articleCategoryName
        FROM articleCategory
        INNER JOIN board ON articleCategory.boardId = board.boardId
        WHERE articleCategory.legal_Flag=TRUE AND board.legal_Flag=TRUE AND articleCategoryId IN
        <foreach collection="articleCategoryIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
        AS t2
        ON article.articleCategoryId = t2.articleCategoryId
        WHERE article.legal_Flag=TRUE AND article.articleCategoryId IN
        <foreach collection="articleCategoryIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>