<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xavier.blog.article.dao.ArticleMapper">

    <sql id="Summary_Column_List">
        articleId,
        uId,
        articleCategoryId,
        statementId,
        title,
        summary,
        content,
        wordCount,
        pageViews,
        properties,
        legal_Flag,
        ts,
        lastUpdateTs
    </sql>

    <sql id="All_Column_List">
        articleId,
        uId,
        articleCategoryId,
        statementId,
        title,
        summary,
        content,
        wordCount,
        pageViews,
        properties,
        legal_Flag,
        ts,
        lastUpdateTs
    </sql>


    <insert id="saveArticle" parameterType="Article">
        INSERT INTO `article`(<include refid="All_Column_List"/>)VALUES (
        #{article.articleId},
        #{article.uId},
        #{article.articleCategoryId},
        #{article.statementId},
        #{article.title},
        #{article.summary},
        #{article.content},
        #{article.wordCount},
        #{article.pageViews},
        #{article.properties},
        #{article.legal_Flag},
        #{article.ts},
        #{article.lastUpdateTs}
        )
    </insert>

    <update id="removeArticleMultipleByIds_Logically">
        UPDATE `article`
        SET legal_Flag = FALSE, lastUpdateTs = #{lastUpdateTs}
        WHERE uId = #{uId} AND articleId IN
        <foreach collection="articleIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateArticle">
        UPDATE `article`
        <foreach collection="data" index="key" item="val" open="SET" separator="," close=" ">
            ${key}=#{val}
        </foreach>
        WHERE lastUpdateTs &lt; #{lastUpdateTs_CAS} AND articleId=#{articleId}
    </update>

    <update id="updateArticlePageViews">
        UPDATE `article`
        SET pageViews = #{pageViews}
        WHERE lastUpdateTs &lt; #{lastUpdateTs_CAS}
          AND articleId = #{articleId}
    </update>

    <update id="autoIncreaseArticlePageViews">
        UPDATE article
        SET pageViews = pageViews + 1
        WHERE articleId = #{articleId}
    </update>

    <select id="queryArticleListByIds" resultType="Article">
        SELECT
        <include refid="All_Column_List"/>
        FROM `article`
        WHERE legal_Flag=TRUE
        AND articleId IN
        <foreach collection="articleIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryArticleListByIds_WithArticleCategoryLimit" resultType="Article">
        SELECT
        <include refid="All_Column_List"/>
        FROM `article`
        WHERE legal_Flag=TRUE
        AND articleId IN
        <foreach collection="articleIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND articleCategoryId IN
        <foreach collection="articleCategoryRangeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY ts DESC
    </select>

    <select id="queryArticleListByArticleCategoryId" resultType="Article">
        SELECT
        <include refid="All_Column_List"/>
        FROM `article` WHERE legal_Flag=TRUE
        AND articleCategoryId =
        <foreach collection="articleCategoryIdRangeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY #{orderKey} ${order}
        Limit #{startPoint},#{size}
    </select>

    <select id="queryArticleSummaryListByArticleCategoryId" resultType="Article">
        SELECT
        <include refid="Summary_Column_List"/>
        FROM `article` WHERE legal_Flag=TRUE
        AND articleCategoryId IN
        <foreach collection="articleCategoryIdRangeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY ${orderKey} ${order}
        Limit #{startPoint},#{size}
    </select>

    <select id="countArticleSummaryListByArticleCategoryId" resultType="integer">
        SELECT count(*)
        FROM `article`
        WHERE legal_Flag = TRUE
        AND articleCategoryId IN
        <foreach collection="articleCategoryIdRangeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryArticleIdLisOfUser" resultType="string">
        SELECT
        articleId
        FROM `article` WHERE legal_Flag=TRUE AND uId = #{uId} AND articleId IN
        <foreach collection="rangeArticleIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>