<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xavier.blog.user.dao.GroupMapper">

    <sql id="BaseColumnList">
        groupName,groupOwner,createTs,lastUpdateTs
    </sql>

    <sql id="AllColumnList">
        gid,groupName,groupOwner,createTs,lastUpdateTs
    </sql>

    <insert id="saveGroup" parameterType="Group" useGeneratedKeys="true" keyProperty="gid">
        INSERT INTO `group`(<include refid="BaseColumnList"/>)VALUES (
        #{Group.groupName},
        #{Group.groupOwner},
        #{Group.createTs},
        #{Group.lastUpdateTs}
        )
    </insert>

    <delete id="removeGroupByGidMultiple">
        DELETE FROM `group`
        WHERE lastUpdateTs &lt; #{lastUpdateTs}
        AND gid IN
        <foreach collection="gidList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="updateByGid">
        UPDATE `group`
        <foreach collection="data" index="key" item="val" open="SET" separator="," close=" ">
            ${key}=#{val}
        </foreach>
        WHERE lastUpdateTs &lt; #{lastUpdateTs} AND gid=#{gid}
    </update>

    <select id="queryGroupListByGid" resultType="Group">
        SELECT
        <include refid="AllColumnList"/>
        FROM `group` WHERE gid IN
        <foreach collection="gidList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryGroupMapByGid" resultType="Group">
        SELECT
        <include refid="AllColumnList"/>
        FROM `group` WHERE gid IN
        <foreach collection="gidList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>