<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xavier.blog.user.dao.GroupJoinRecordMapper">

    <sql id="Base_Column_List">
        gId,uid,isActive,lastUpdateTs,createTs
    </sql>

    <sql id="All_Column_List">
        id,gId,uid,isActive,lastUpdateTs,createTs
    </sql>

    <insert id="saveGroupJoinRecord" parameterType="GroupJoinRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `groupJoinRecord`(<include refid="Base_Column_List"/>)VALUES (
        #{GroupJoinRecord.gId},
        #{GroupJoinRecord.uid},
        #{GroupJoinRecord.isActive},
        #{GroupJoinRecord.lastUpdateTs},
        #{GroupJoinRecord.createTs}
        )
    </insert>

    <delete id="removeGroupJoinRecordByUIdAndGId">
        DELETE FROM `groupJoinRecord`
        WHERE lastUpdateTs &lt; #{lastUpdateTs}
        AND gId =#{gId} AND uid=#{uid}
    </delete>

    <select id="queryGroupIdListOfUser" resultType="string">
        SELECT
        gId
        FROM `groupJoinRecord` WHERE isActive=TRUE AND uid=#{uid}
    </select>

    <select id="queryGroupJoinRecordListByGIdAndUIdList" resultType="GroupJoinRecord">
        SELECT
        <include refid="All_Column_List"/>
        FROM `groupJoinRecord` WHERE isActive=TRUE AND gId=#{gId} AND uid IN
        <foreach collection="uIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryGroupJoinRecordMapByGIdAndUIdList" resultType="Group">
        SELECT
        <include refid="All_Column_List"/>
        FROM `groupJoinRecord` WHERE isActive=TRUE AND gId=#{gId} AND uid IN
        <foreach collection="uIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>